.cards{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
}
.card{
    box-shadow: 3px 3px 10px black;
    background-color: rgb(221, 234, 221);
}
img{
    height: 230px;
}